* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


body {
    margin: 0;
    padding: 0;
}

.container-pai {
    display: flex;
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;

    position: fixed;
    top: 2%;
    justify-content: center;

}

.container-pai .graficos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    padding: 20px;
    width: 1000px;


}

.container-pai .graficos .graficoBarra .charts canvas#myChart,
canvas#myChart2 {
    display: flex;
    min-width: 37vw;
    min-height: 40vh;
    max-width: 50vw;
    max-height: 70vh;
    padding: 5px;
}



.graficoBarra {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.graficoLine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .checkbox-container {
    display: flex;

    font-size: small;
    justify-content: space-around;
  } */

/* .checkbox-container label {
    display: flex;
    align-items: center;
  } */

.graficoBarra h4 {
    text-align: center;
    font-size: medium;
}

.graficoLine h4 {
    text-align: center;
    font-size: medium;
}

.sidebar {
    width: 150px;
    background-color: #B72A29;
    padding: 20px;
    color: #fff;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.354) 0px 0px 12px 0px;
}

.sidebar h1 {
    font-size: 1.02em;
    font-weight: 200;
    /* margin-bottom: 11.5px; */
    text-align: center;
    padding-left: 5px;
}

.sidebar a {
    font-size: 1em;
    text-decoration: none;
    color: #ffffffb7;
    background-color: rgba(0, 0, 0, 0.166);
    /* background-color: #625a589e; */
    padding: 12px 20px;
    border-radius: 8px;
    margin: 10px 0;
    text-align: center;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #87060689;
    color: #fff;
}

.sidebar a:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.7);
}

.sidebar .profile img {
    width: 45px;
    height: 45px;
}

.sidebar .profile {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.sidebar .logout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* quase a mesma coisa q o padding */
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.166);
    cursor: pointer;


}

.logout-btn:hover {
    background-color: #87060689;
}

.logout-icon {
    width: 18px;
    height: 18px;
}


.container .kpis {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-left: -60px;
}

.kpis .card1,
.card3,
.card2 {
    display: flex;
    border: solid 1px #b72929;
    height: 15vh;
    width: 10vw;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: #b72929d7;
    box-shadow: rgb(104, 106, 107) 0px 15px 25px -10px;

}

.kpis .card1,
.card3,
.card2,
span {
    font-weight: 700;


}

.kpis .card1,
.card3,
.card2 p {
    font-weight: 300;
    font-size: small;
    color: #fff;


}

/* 
  input[type="checkbox"] {
    appearance: none;
    /* remove o estilo padrao */
/* width: 12px;
    height: 12px;
    border: 1px solid #999;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  input[type="checkbox"]:checked {

    background-color: #000000b5; */
/*cor quando marcado */



/* } */

.kpiData {
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: #fff;
    color: #b72929;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
    /* faz ficar acima dos outros elementos */
}

.kpiData span {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
}

/* VISÃO DETALHADA */

.main .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-left: 150px;
}

.main .container .cardsInfo {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.main .container .cardsInfo .card{
    border: 1px solid #4f484843;
    border-radius: 5px;
    width: 170px;
    background-color: #ffffffd8;
    /* background: #d53232; */
    color: #000000;
    font-size: smaller;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


/* background: linear-gradient(90deg,rgb(183, 41, 41) 0%, rgba(183, 41, 41, 1) 50%, rgba(135, 6, 6, 0.558) 100%); */
    
    
}
.main .container .cardsInfo .card p{
    padding-left: 10px ;
    text-align: justify;
    font-weight: 100;
}
.main .container .cardsInfo .card p span.alto{
color: #b72929;
}
.main .container .cardsInfo .card p span.baixo{
    color: #2f6c37;
    }
    .main .container .cardsInfo .card p span.medio{
        color: #e8bb49;
        }
.main .container .cardsInfo .card h4{
color: #B72A29;
    text-align: center;
    font-size: medium;
}


  .text {
    text-align: left;
  }
  
  .table {
    border-collapse: collapse; /*deixa a tabela mais limpa, fundindo as bordas, não separa por célula*/
    background-color: #fff;
    width: 80%;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  
   
  }
  .table caption {
    background-color: #B72A29;
    color: #fff;
    font-size: 14px;
    padding: 5px 0;
    border-radius: 5px;
    margin-bottom: 5px;
  }
 
  .table td {
    padding: 5px;
  }
 
  
  .table tbody tr {
    border-bottom: 1px solid #999; 
    /* linha */
  }


tbody{
    display: block;  
    overflow-y: scroll; /*isso que deixa rolar p baixo na tabela*/
    height: 200px;
    }
    .table td span.alerta{
        color: #dc1919;
    }